// breakpoints

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px (1200 / 16 --> average font-size)
$bp-large: 62em; // 992px (992 / 16 --> average font-size)
$bp-medium: 48em; // 768px (768 / 16 --> average font-size)
$bp-small: 36em; // 576px (576 / 16 --> average font-size)



$--primary: #8cd0de;
$--primary-light: #ddf1f5;
$--primary-dark: #6fbed1;

$--accent: #69747c;
$--accent-light: #d2d5d8;
$--accent-dark: #4c575f;

$--warning: #151e3f;
$--warning-light: #b6bcc5;
$--warning-dark: #0c1229;

$--black: #191919;
$--black-transparent-05: rgba(0, 0,0,0.5);
$--white: #ffffff;

