// breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


$--primary: #8cd0de;
$--primary-light: #ddf1f5;
$--primary-dark: #6fbed1;

$--accent: #69747c;
$--accent-light: #d2d5d8;
$--accent-dark: #4c575f;

$--warning: #151e3f;
$--warning-light: #b6bcc5;
$--warning-dark: #0c1229;

$--black: #191919;
$--black-transparent-05: rgba(0, 0,0,0.5);
$--white: #ffffff;

