// breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


$--primary: #00acc1;
$--primary-light: #4dd0e1;
$--primary-dark: #006064;

$--accent: #757575;
$--accent-light: #bdbdbd;
$--accent-dark: #616161;

$--black: #131313;
$--black-transparent-05: rgba(0, 0,0,0.5);
$--white: white;

