// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // **Be sure that you only ever include this mixin once!**
// @include mat-core();

// // Define the default theme (same as the example above).
// $subsequent-primary: mat-palette($mat-cyan, 600, 300, 900);
// $subsequent-accent:  mat-palette($mat-grey, 600, 400, 700);
// $subsequent-warn:  mat-palette($mat-red, 600, A400, A700);

// $subsequent-theme:   mat-light-theme((
//   color: (
//     primary: $subsequent-primary,
//     accent: $subsequent-accent,
//     warn: $subsequent-warn
//   )
// ));

// // Include the default theme styles (color and default density)
// @include angular-material-theme($subsequent-theme);


// // Define an alternate dark theme.
// $dark-primary: mat-palette($mat-cyan, A700, A300, A900);
// $dark-accent:  mat-palette($mat-amber, A400, A200, A400);
// $dark-warn:    mat-palette($mat-deep-orange);
// $dark-theme:   mat-dark-theme((
//   color: (
//     primary: $dark-primary,
//     accent: $dark-accent,
//     warn: $dark-warn,
//   )
// ));

// // Include the dark color styles inside of a block with a CSS class. You can make this
// // CSS class whatever you want. In this example, any component inside of an element with
// // `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
// .subsequent-dark-theme {
//   @include angular-material-color($dark-theme);
// }



/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/

/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/

@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
// @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');

$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Raleway', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Raleway', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Raleway', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Raleway', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Raleway', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Raleway', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Raleway', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Raleway', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Raleway', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Raleway', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Raleway', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Raleway', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Raleway', 1.5px)
);
// $fontConfig: (
//   display-4: mat-typography-level(112px, 112px, 300, 'Poppins', -0.0134em),
//   display-3: mat-typography-level(56px, 56px, 400, 'Poppins', -0.0089em),
//   display-2: mat-typography-level(45px, 48px, 400, 'Poppins', 0.0000em),
//   display-1: mat-typography-level(34px, 40px, 400, 'Poppins', 0.0074em),
//   headline: mat-typography-level(24px, 32px, 400, 'Poppins', 0.0000em),
//   title: mat-typography-level(20px, 32px, 500, 'Poppins', 0.0075em),
//   subheading-2: mat-typography-level(16px, 28px, 400, 'Poppins', 0.0094em),
//   subheading-1: mat-typography-level(15px, 24px, 500, 'Poppins', 0.0067em),
//   body-2: mat-typography-level(14px, 24px, 500, 'Poppins', 0.0179em),
//   body-1: mat-typography-level(14px, 20px, 400, 'Poppins', 0.0179em),
//   button: mat-typography-level(14px, 14px, 500, 'Poppins', 0.0893em),
//   caption: mat-typography-level(12px, 20px, 400, 'Poppins', 0.0333em),
//   input: mat-typography-level(inherit, 1.125, 400, 'Poppins', 1.5px)
// );
// $fontConfig: (
//   display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
//   display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
//   display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
//   display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
//   headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
//   title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
//   subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
//   subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
//   body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
//   body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
//   button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
//   caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
//   input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
// );

// Foreground Elements

// Light Theme Text
$dark-text: #191919;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #ffffff;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#191919, 20%);
$dark-bg-alpha-4:     rgba(#191919, 0.04);
$dark-bg-alpha-12:    rgba(#191919, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #191919;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#ffffff, 0.04);
$light-bg-alpha-12:   rgba(#ffffff, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #8cd0de;
  --primary-lighter-color: #ddf1f5;
  --primary-darker-color: #6fbed1;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$dark-primary-text};
}

$mat-primary: (
  main: #8cd0de,
  lighter: #ddf1f5,
  darker: #6fbed1,
  200: #8cd0de, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #69747c;
  --accent-lighter-color: #d2d5d8;
  --accent-darker-color: #4c575f;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
  main: #69747c,
  lighter: #d2d5d8,
  darker: #4c575f,
  200: #69747c, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #151e3f;
  --warn-lighter-color: #b9bcc5;
  --warn-darker-color: #0c1229;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #151e3f,
  lighter: #b9bcc5,
  darker: #0c1229,
  200: #151e3f, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);;

$theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';
  .mat-badge-content {
    font-family: 'Roboto';
  }
}
