@import 'variables';
/* You can add global styles to this file, and also import other style files */
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	background-color: $--black;
}

mat-dialog-container#modal-component {
	border: 3px solid $--black;
	border-radius: 11px;
	background-color: $--black;
}

.inner-container {
	display: inline-block;
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
}