@import 'variables';
@import 'mixins';

.footer {
	background: linear-gradient(to bottom, $--black 50%, $--primary);
	padding-top: 20px;
	font-size: 1.4rem;
	color: $--white;

	.footer-grid {
		display: grid;
		grid-template: 1fr 50px 20px 50px / 100px repeat(4, 1fr) 100px;
		grid-template-areas:
			'logo logo logo logo logo log'
			'. impressum datenschutz medien kontakt .'
			'hr hr hr hr hr hr'
			'copyright copyright copyright copyright copyright copyright';
		grid-gap: 15px;
		justify-items: center;
		align-items: center;

    a:hover {
      color: $--primary;
      cursor: pointer;
    }

    img {
      height: 80px;
      width: auto;
    }

		#logo {
			grid-area: logo;
      justify-self: flex-start;
		}
    #hr {
      width: 100%;
      grid-area: hr;
      border-top: 1px solid $--white;
    }
		#impressum {
			grid-area: impressum;
		}
		#datenschutz {
			grid-area: datenschutz;
		}
		#medien {
			grid-area: medien;
		}
		#kontakt {
			grid-area: kontakt;
		}
		#copyright {
      grid-area: copyright;
		}

		a {
			text-decoration: none;
			color: $--white;
		}
	}
}

// @include footer {
// 	grid-template: repeat(6, 1fr);
// 	grid-template-areas:
// 		'address1'
// 		'address2'
// 		'address3'
// 		'address4'
// 		'address5';
// }
