@import "variables";
@import "mixins";

.footer {
  background: linear-gradient(to bottom, $--black 50%, $--primary);
  padding-top: 20px;
  font-size: 1.6rem;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 1px;

  .footer-grid {
    grid-area: content;
    display: grid;
    grid-template-rows: min-content min-content 2rem min-content;
    grid-template-columns: 10rem repeat(4, 1fr) 10rem;
    grid-template-areas:
      "logo logo logo logo logo log"
      ". impressum datenschutz medien kontakt ."
      "hr hr hr hr hr hr"
      "copyright copyright copyright copyright copyright copyright";
    grid-gap: 1rem 1.5rem;
    justify-items: center;
    align-items: center;

    @include md {
      grid-template-rows: min-content min-content 2rem min-content;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "logo logo logo logo"
        "impressum datenschutz medien kontakt"
        "hr hr hr hr"
        "copyright copyright copyright copyright";
    }

    a:hover {
      color: $--primary;
      cursor: pointer;
    }

    img {
      height: 10rem;
      width: auto;
      display: block;

      @include md {
        height: 7rem;
      }
    }

    #logo {
      grid-area: logo;
      justify-self: flex-start;

      @include xl {
        margin-left: 2rem;
      }

      @include md {
        justify-self: center;
      }
    }
    #hr {
      width: 100%;
      grid-area: hr;
      border-top: 1px solid $--white;
    }
    #impressum {
      grid-area: impressum;
    }
    #datenschutz {
      grid-area: datenschutz;
    }
    #medien {
      grid-area: medien;
    }
    #kontakt {
      grid-area: kontakt;
    }
    #copyright {
      grid-area: copyright;
    }

    a {
      text-decoration: none;
      color: $--white;
    }
  }
}
