<footer class="footer" id="footer">
	<div class="inner-container footer-grid">
			<img id="logo" src="../../../../../assets/images/logo_navbar.png" />
			<a href="#" id="impressum">{{ 'footer.impressum' | translate }}</a>
			<a href="#" id="datenschutz">{{ 'footer.datenschutz' | translate }}</a>
			<a href="#" id="medien">{{ 'footer.medien' | translate }}</a>
			<a href="#" id="kontakt">{{ 'footer.kontakt' | translate }}</a>
		<div id="hr"></div>
		<p id="copyright">&copy; 2021 Subsequent | {{ 'footer.copyright' | translate }}</p>
	</div>
</footer>
