<footer class="footer" id="footer">
	<div class="footer__logo-box">
		<img
			src="../../../../../assets/images/logo_navbar.png"
			alt="Full logo"
			class="footer__logo"
		/>
	</div>
	<div class="content-container">
		<div class="footer__navigation">
			<p class="address1">Subsequent GmbH</p>
			<p class="address2">Gnadenseeweg 29</p>
			<p class="address3">78467 Konstanz</p>
			<div class="address4">
				<mat-icon>alternate_email</mat-icon>
				<a href="mailto:contact@subsequent.ai?subject=website contact"
					>contact@subsequent.ai</a
				>
			</div>
			<a href="tel:49-17697997180" class="address5"
				><mat-icon>phone</mat-icon>
				<p>+49 (0) 176 9799 7180</p></a
			>
		</div>

		<div class="copyright_container">
			<p class="footer__copyright">
				&copy; {{ 'footer.footer-items.copyright' | translate }}
			</p>
		</div>
	</div>
</footer>
