<footer class="footer" id="footer">
	<div class="footer__logo-box">
		<img
			src="../../../../../assets/images/logo_navbar.png"
			alt="Full logo"
			class="footer__logo"
		/>
	</div>
	<div class="content-container">
		<div class="footer__navigation">
			<a href="#" class="footer__link">Company</a>
			<a href="#" class="footer__link">Contact us</a>
			<a href="#" class="footer__link">Careers</a>
			<a href="#privacy-popup" class="footer__link">Privacy</a>
			<a href="#" class="footer__link">Terms</a>
		</div>

		<div class="copyright_container">
			<p class="footer__copyright">&copy; 2021 Subsequent GmbH All Rights Reserved</p>
		</div>
	</div>
</footer>
