@import 'variables';
@import 'mixins';

.footer {
	background-color: $--black;
	padding-top: 50px;
	font-size: 1.4rem;
	color: $--white;

	.content-container {
		display: flex;
		justify-content: space-around;

		.copyright_container {
			width: 700px;
		}
	}

	&__logo-box {
		text-align: center;
		margin-bottom: 50px;
	}

	&__logo {
		width: 30rem;
		height: auto;
	}

	&__navigation {
		width: 600px;
		border-top: 1px solid $--white;
		padding-top: 2rem;
		display: grid;
		grid-template: repeat(3, 1fr) / repeat(3, 1fr);
		grid-template-areas:
			'address1 address2 address3'
			'address4 address4 address4'
			'address5 address5 address5';
		gap: 10px 5px;

		mat-icon {
			padding-right: 10px;
		}

		@include footer {
			grid-template: repeat(6, 1fr);
			grid-template-areas:
				'address1'
				'address2'
				'address3'
				'address4'
				'address5';
		}

		.address1 {
			grid-area: address1;
		}
		.address2 {
			grid-area: address2;
		}
		.address3 {
			grid-area: address3;
		}
		.address4 {
			grid-area: address4;
			display: flex;

			a {
				text-decoration: none;
				color: $--white;
			}
		}
		.address5 {
			grid-area: address5;
			display: flex;
			text-decoration: none;
			color: $--white;
		}
	}
	&__copyright {
		float: right;
		width: 80%;
		border-top: 1px solid $--white;
		padding-top: 2rem;
	}
}
