<p>
	<mat-toolbar id="landing-toolbar" class="flexSpaceBetween">
		<a class="navbar-brand" routerLink="/">
			<img src="../../../../../assets/images/logo_navbar.png" height="40px" />
		</a>
		<!-- <span class="example-spacer"></span> -->
		<!-- <button
			mat-icon-button
			class="burgerButton"
			aria-label="Example icon-button with menu icon"
		>
			<mat-icon>menu</mat-icon>
		</button> -->
    <div class="navigation">
      <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

      <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
      </label>

      <div class="navigation__background">&nbsp;</div>

      <nav class="navigation__nav">
          <ul class="navigation__list">
              <li class="navigation__item navigation__item1"><a href="#" class="navigation__link">Home</a></li>
              <li class="navigation__item navigation__item2"><a href="#" class="navigation__link">DATA EXTRACTION</a></li>
              <li class="navigation__item navigation__item3"><a href="#" class="navigation__link">DATA ANALYSIS</a></li>
              <li class="navigation__item navigation__item4"><a href="#" class="navigation__link">PRESSE</a></li>
              <li class="navigation__item navigation__item5"><a href="#" class="navigation__link">KONTAKT</a></li>
              </ul>
      </nav>
  </div>
	</mat-toolbar>
</p>
