@import 'variables';

#landing-toolbar {
	background-color: $--black;
}

.flexSpaceBetween {
	justify-content: space-between;
}

.burgerButton {
	color: $--white;
}

img {
	vertical-align: middle;
}

.navigation {
	&__checkbox {
		display: none;
	}

	&__button {
		margin-right: 1rem;
		background-color: $--black;
		height: 5%;
		width: 2.5%;
		position: fixed;
		top: 1rem;
		right: 1rem;
		border-radius: 50%;
		z-index: 2000;
		box-shadow: 0 1rem 3rem rgba($--black, 0.1);
		text-align: center;
		cursor: pointer;
	}

	&__background {
    margin-right: 1rem;
		height: 5%;
		width: 2.5%;
		border-radius: 50%;
		position: fixed;
		// top: 6.5rem;
		// right: 6.5rem;
		top: 1rem;
		right: 1rem;
		// background-image: radial-gradient($--primary, $--black, 0.5);
		background-image: linear-gradient(70deg, transparent, $--primary);
		// background-image: linear-gradient(70deg, $--black, 40%, $--primary);
		z-index: 1000;
		transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	}

	&__nav {
		height: 80vh;
		position: fixed;
		top: 0;
		left: 30vh;
		z-index: 1500;
		opacity: 0;
		width: 0;
		transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	&__list {
		position: absolute;
		top: 60%;
		left: 45%;
		transform: translate(-50%, -50%);
		list-style: none;
		text-align: center;
		width: 100%;
	}

	&__item {
		margin: 0.2rem;
	}

	&__item2 {
		margin: 0 0 0 15%;
	}

	&__item3 {
		margin: 0 0 0 30%;
	}

	&__item4 {
		margin: 0 0 0 45%;
	}

	&__item5 {
		margin: 0 0 0 60%;
	}

	&__link {
		&:link,
		&:visited {
			display: inline-block;
			font-size: 1rem;
			font-weight: 300;
			padding: 1rem;
			color: $--white;
			text-decoration: none;
			text-transform: uppercase;
			background-size: 220%;
			transition: all 0.4s;

			span {
				margin-right: 1.5rem;
				display: inline-block;
			}
		}

		&:hover,
		&:active {
			background-position: 100%;
			color: $--accent;
			transform: translateX(1rem);
		}
	}

	//FUNCTIONALITY
	&__checkbox:checked ~ &__background {
		transform: scale(45);
	}

	&__checkbox:checked ~ &__nav {
		opacity: 1;
		width: 100%;
	}

	&__checkbox:checked ~ &__button {
		background-color: transparent;
	}

	//ICON
	&__icon {
		position: relative;
		margin-top: 1rem;
		margin-right: 1rem;

		&,
		&::before,
		&::after {
			width: 2rem;
			height: 1px;
			background-color: $--white;
			display: inline-block;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			transition: all 0.2s;
		}

		&::before {
			top: -0.6rem;
		}
		&::after {
			top: 0.6rem;
		}
	}

	&__button:hover &__icon::before {
		top: -0.5rem;
	}

	&__button:hover &__icon::after {
		top: 0.5rem;
	}

	&__checkbox:checked + &__button &__icon {
		background-color: transparent;
	}

	&__checkbox:checked + &__button &__icon::before {
		top: 0;
		transform: rotate(135deg);
	}

	&__checkbox:checked + &__button &__icon::after {
		top: 0;
		transform: rotate(-135deg);
	}
}
