<div class="extraction-container" id="featureList">
	<div class="extraction-container_text-container">
		<h1>Data Extraction</h1>
	</div>
	<div id="skeletal-data" featureDetails [imgUrl]="'../../../../../assets/images/skeletal.png'" [number]="'1'"></div>
	<div id="skeletal-data" featureDetails [imgUrl]="'../../../../../assets/images/freespace.jpg'" [number]="'2'"></div>
	<!-- <div id="skeletal-data" featureDetails [imgUrl]="'../../../../../assets/images/skeletal.png'" [number]="'3'"></div>
	<div id="skeletal-data" featureDetails [imgUrl]="'../../../../../assets/images/freespace.jpg'" [number]="'4'"></div>
	<div id="skeletal-data" featureDetails [imgUrl]="'../../../../../assets/images/skeletal.png'" [number]="'5'"></div> -->
</div>
