@import 'variables';

.extraction-container {
	height: 1000px;
	background: $--white;
	position: relative;
	min-width: 30px;
	perspective: 1000px;
	perspective-origin: top;
	// z-index: -1;

	&_text-container {
		position: absolute;
		overflow: hidden;
		height: 30px;
		line-height: 30px;
		width: 480px; /*matches the height of the container*/
		left: 2%;
		bottom: 250px; /*0 = bottom of container, then subtract (line-height+border)*/
		transform: rotate(-90deg);
		transform-origin: top left;
		h1 {
			text-transform: uppercase;
			text-align: right;
			font-size: 40px;
			color: $--black;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 120px;
				height: 4px;
				background: $--black;
				left: 0;
				top: 50%;
			}
		}
	}
	.container1 {
		position: absolute;
		top: 100px;
		left: 200px;
	}
	.container2 {
		position: absolute;
		top: 400px;
		left: 300px;
	}
	// .container3 {
	// 	position: absolute;
	// 	top: 50px;
	// 	left: 800px;
	// }
	// .container4 {
	// 	position: absolute;
	// 	top: 500px;
	// 	left: 850px;
	// }
	// .container5 {
	// 	position: absolute;
	// 	top: 150px;
	// 	left: 1100px;
	// }

	input[type='checkbox'] {
		display: none;
	}
	.background {
		display: none;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 100vw;
		// width: 100vw;
		background: rgba(0, 0, 0, 0.4);
		// z-index: 10;
	}

	.promoText {
		display: none;
		margin-left: 20%;
		width: 55vw;
		color: $--white;
		color: $--primary-dark;
		font-size: 25px;
		line-height: 100%;
	}
	.imgContainer {
		.featureImage {
			display: inline-block;
			height: 30vh;
			transition: transform 0.3s ease-out;
			// -moz-transform: rotateY(45deg);
			transform: rotateY(45deg);

			&:hover {
				transition: 0.5s;
				transform: scale(1.1) rotateY(45deg);
				cursor: pointer;
			}
		}
	}
	input[type='checkbox']:checked {
		& ~ label > .flexContainer {
			display: flex;
			position: fixed;
			align-items: center;

			top: 15%;
			left: 20%;
			z-index: 5;
			& > .imgContainer > .featureImage {
				transform: scale(1.8);
				z-index: 3000;
				cursor: zoom-out;

				&:hover {
					transform: scale(1.8);
				}
			}
			& > p {
				display: unset;
			}
		}
		& ~ .background {
			display: unset;
			position: fixed;
		}
	}
}
