@import 'variables';

.rotating-body-container {
	height: 100vh;
	background: linear-gradient(to right, $--white, $--white 50%, $--black 50%);
	display: flex;
	justify-content: space-around;

	.extraction-list-container {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-around;

		li {
			list-style-type: none;
			font-size: 30px;
		}
	}

	.analysis-list-container {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-around;

		li {
			list-style-type: none;
			font-size: 30px;
			color: $--white;
		}
	}

  .rotation-video-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    video {
      height: 60%;
    }
  }
}
