<div class="rotating-body-container">
  <ul class="extraction-list-container">
    <li>First Feature</li>
    <li>Second Feature</li>
    <li>Third Feature</li>
  </ul>
  <div class="rotation-video-container">
    <video autoplay="" loop="" muted="" width="100%" height="100%" preload="auto" autobuffer="true">
      <source type="video/mp4" src="../../../../assets/videos/spaceX_rotation_cropped.mp4">
    </video>
  </div>
  <ul class="analysis-list-container">
    <li>First Feature</li>
    <li>Second Feature</li>
    <li>Third Feature</li>
  </ul>
</div>
