<div class="container">
  <div class="inner-container">
    <div class="header">
      <div class="logo-wrapper">
        <a href="/">
          <img src="/assets/images/logo_navbar.png" alt="" />
        </a>
      </div>
      <div class="desktop-nav-wrapper">
        <div class="desktop-nav nav-container">
          <!-- <a (click)="scrollTo('#coverImage')">{{
            "sidenav.sidenav-items.beginning" | translate
          }}</a> -->
          <a (click)="scrollTo('#feature-overview')">{{
            "sidenav.sidenav-items.overview" | translate
          }}</a>
          <a (click)="scrollTo('#container-featureList')">{{
            "sidenav.sidenav-items.details" | translate
          }}</a>
          <!-- <a (click)="scrollTo('#aboutUs')">{{
            "sidenav.sidenav-items.about-us" | translate
          }}</a> -->
          <a (click)="scrollTo('#footer')">{{
            "sidenav.sidenav-items.contact-us" | translate
          }}</a>
        </div>
      </div>
      <div
        class="mobile-nav"
        [ngClass]="{ isOpen: circleNavMenuExtraClass }"
        (click)="burgerMenuClicked()"
      >
        <div
          class="circle-nav nav-container"
          *ngIf="circleNavMenuExtraClass"
          [ngClass]="circleNavMenuExtraClass"
        >
          <a (click)="scrollTo('#feature-overview')">{{
            "sidenav.sidenav-items.overview" | translate
          }}</a>
          <a (click)="scrollTo('#container-featureList')">{{
            "sidenav.sidenav-items.details" | translate
          }}</a>
          <a (click)="scrollTo('#footer')">{{
            "sidenav.sidenav-items.contact-us" | translate
          }}</a>
        </div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>
