@import 'variables';
@import 'mixins';

#modal-content-wrapper {
	height: 100%;
	color: $--white;
	display: grid;
	grid-template: 50px 1fr 300px / 200px 1fr 20px;
	grid-template-areas:
		'. header close'
		'bulletpoints image image'
		'. description description';
	grid-gap: 0 1%;
	justify-items: center;
	align-items: center;

	@include lg {
		grid-template: 50px 1fr 300px / 200px 1fr 20px;
		grid-template-areas:
			'. header close'
			'bulletpoints image image'
			'description description description';
	}

	#modal-header {
		grid-area: header;
		#modal-title {
			font-size: 22px;
		}
	}
	.bulletpoints {
		grid-area: bulletpoints;
		justify-self: end;
		text-align: right;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	mat-icon {
		grid-area: close;
		align-self: start;
		background-color: $--black;

		&:hover {
			color: $--primary;
			cursor: pointer;
		}
	}

	#featureImage {
		grid-area: image;
		width: 70%;
		height: auto;
	}

	#description {
		grid-area: description;
		text-align: justify;
		justify-self: center;
		width: 70%;
	}

	@include md {
		grid-template: 1fr 1fr / 1fr 20px;
		grid-template-areas:
			'image close'
			'description description';

		#featureImage {
			width: 90%;
			height: auto;
		}

		#description {
			width: 90%;
		}

		#modal-header {
			display: none;
		}

		.bulletpoints {
			display: none;
		}
	}

	// #modal-footer {
	// 	grid-area: footer;
	// 	justify-self: right;
	// 	align-self: center;
	// }

	// #modal-cancel-button {
	// 	background-color: #4e4e4e;
	// 	color: white;
	// }
}
