@import "variables";
@import "mixins";

%heading {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.feature-bullet {
  font-size: 3rem;
}

.analysis-features {
  color: white;
}

.text-container-analysis {
  margin-top: 4rem;

  h1 {
    @extend %heading;
    color: $--white;
  }
}

#feature-overview {
  position: relative;

  .datapoints {
    z-index: -1;
    &__1 {
      position: absolute;
      width: 65rem;
      top: 100vh;
      left: -27rem;

      @include lg {
        width: 68rem;
        top: 94vh;
        left: -40rem;
      }
    }
    &__2 {
      position: absolute;
      height: 45rem;
      top: 100vh;
      left: 90rem;
      transform: rotate(120deg);

      @include lg {
        top: 91vh;
      }
      @include md {
        display: none;
      }
    }
    &__3 {
      position: absolute;
      height: 60rem;
      top: -11rem;
      left: 75rem;
      transform: rotate(230deg);

      @include lg {
        left: 67rem;
      }
      @include md {
        left: 50rem;
      }
    }
    &__4 {
      position: absolute;
      height: 40rem;
      top: 35rem;
      transform: rotate(130deg);

      @include lg {
        height: 40rem;
        top: 50rem;
      }
      @include md {
        height: 40rem;
        top: 50rem;
      }
    }
  }

  .rotating-body {
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 98;

    @include md {
      display: none;
    }

    video {
      width: 100%;
      height: auto;
      max-height: 65vh;
    }
  }

  .layout-container {
    // height: 174vh;
    z-index: 97;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "extraction analysis"
      "details details";

    @include md {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "extraction"
        "analysis"
        "details";
    }

    .extraction-container {
      grid-area: extraction;
      background: #fff url("/assets/images/background-light.jpg") no-repeat
        center;
      background-size: cover;
      .text-container-extraction {
        margin-top: 4rem;

        h1 {
          @extend %heading;
        }
      }
    }

    .analysis-container {
      grid-area: analysis;
      background: #fff url("/assets/images/background-dark.jpg") no-repeat
        center;
      background-size: cover;
      .text-container-analysis {
        margin-top: 4rem;

        h1 {
          @extend %heading;
        }
      }
    }

    .container-featureList {
      position: relative;
      grid-area: details;
      // background: linear-gradient(
      //   to right,
      //   $--white,
      //   $--white 50%,
      //   $--black 50%
      // );
      display: grid;
      // grid-template-columns: minmax(0.5rem, 0.1fr) 1fr minmax(0.5rem, 0.1fr);
      grid-template-columns: 1fr 1fr;

      /*
      $bp-largest: 1200px;
$bp-large: 992px;
$bp-medium: 768px;
$bp-small: 578px;
      */

      //logic for network-graphic-size:
      $networkGraphicwrapperWidth: 1200px;

      $heightRatio: 0.66;
      $networkGraphicwrapperHeight: $networkGraphicwrapperWidth * $heightRatio;
      $outerScreenBorderColor: #888;
      $innerScreenBorderColor: #333;
      $screenRotation: rotateX(-28deg) rotateY(28deg);
      $screenTranslate: translate3d(-50%, -50%, 0);
      // padding-bottom: $heightRatio;
      min-height: 1200px * $heightRatio;
      @include xl {
        // $networkGraphicwrapperWidth: 992px;
        min-height: 992px * $heightRatio;
      }
      @include lg {
        // $networkGraphicwrapperWidth: 768px;
        min-height: 768px * $heightRatio;
      }
      @include md {
        // $networkGraphicwrapperWidth: 578px;
        min-height: 578px * $heightRatio;
      }
      @include sm {
        // $networkGraphicwrapperWidth: 320px;
        min-height: 320px * $heightRatio;
      }

      .background-container {
        width: 100%;
        height: 100%;
        &.light-background {
          background-color: #fff;
        }
        &.dark-background {
          background-color: #1c1c1c;
        }
      }

      .network-graphic-container {
        position: absolute;
        display: flex;
        align-content: center;
        justify-content: center;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        .network-graphic-wrapper {
          position: relative;
          justify-self: center;
          align-self: center;
          width: 1200px;
          @include xl {
            width: 992px;
          }
          @include lg {
            width: 768px;
          }
          @include md {
            width: 578px;
          }
          @include sm {
            width: 320px;
          }
          height: 100%;

          #networkGraphicCanvas {
            position: absolute;
            z-index: 2;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;

            line.network-cable {
              stroke-width: 3;
              &.left {
                stroke: #8cd0de;
              }
              &.right {
                stroke: #fff;
              }
              @include md {
                stroke-width: 2;
              }
            }
          }

          //FEATURE SCREENS
          .feature-screen-wrapper {
            position: absolute;
            z-index: 3;
            border-left: #000 solid 8px;
            border-top: #000 solid 5px;
            @include md {
              border-left: #000 solid 4px;
              border-top: #000 solid 2px;
            }
            border-color: $outerScreenBorderColor;
            transform: $screenTranslate $screenRotation;
            transition: border 0.3s ease-out, box-shadow 0.3s ease-out;

            &:hover {
              cursor: pointer;
              border-color: $--primary;
              box-shadow: 0 0 10px $--primary;
              transition: border 0.3s ease-out, box-shadow 0.3s ease-out;
            }

            .feature-screen-border {
              border: $innerScreenBorderColor solid 5px;
              @include md {
                border: $innerScreenBorderColor solid 1px;
              }
            }
          }
        }
      }

      .details-grid {
        grid-column: 2;
        height: 87vh;
        margin-bottom: 5rem;
        z-index: 2;

        // width: auto;

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 3rem;
        justify-items: center;
        align-items: center;

        .first-extraction-feature {
          grid-row: 2 / span 2;
          grid-column: 2 / span 3;
        }
        .second-extraction-feature {
          grid-row: 5 / span 2;
          grid-column: 2 / span 2;
        }
        .third-extraction-feature {
          grid-row: 6 / span 1;
          grid-column: 4 / span 2;
        }
        .first-analysis-feature {
          grid-row: 3 / span 2;
          grid-column: 5 / span 2;
        }
        .second-analysis-feature {
          grid-row: 4 / span 2;
          grid-column: 8 / span 1;
        }
        .third-analysis-feature {
          grid-row: 6 / span 1;
          grid-column: 6 / span 2;
        }
      }

      img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;

        // $rotation: rotateX(-29deg) rotateY(51deg);
        // transform: $rotation;

        // &:hover {
        //   transition: 0.5s;
        //   transform: $rotation scale(1.2);
        //   cursor: pointer;
        // }
      }
    }
  }
}
