<div id="container-featureList">
	<div class="text-container-extraction">
		<h1 id="extraction">Data Extraction</h1>
	</div>
	<div class="text-container-analysis">
		<h1 id="analysis">Data Analysis</h1>
	</div>

  <div class="details-container">
    <div featureDetails [imgUrl]="'../../../../../assets/images/skeletal.png'" [number]="'1'"></div>
    <div featureDetails [imgUrl]="'../../../../../assets/images/freespace.jpg'" [number]="'2'"></div>
    <div featureDetails [imgUrl]="'../../../../../assets/images/skeletal.png'" [number]="'3'"></div>
    <div featureDetails [imgUrl]="'../../../../../assets/images/freespace.jpg'" [number]="'4'"></div>
    <div featureDetails [imgUrl]="'../../../../../assets/images/skeletal.png'" [number]="'5'"></div>
  </div>
</div>
